* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Inter", sans-serif;
  color: #000;
}

.container {
  display: flex;
  min-height: calc(100vh - 0px);
}

.sidebar {
  width: 250px;
  padding: 20px;
}

.sidebar-item {
  width: 165px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: #353535;
  margin-bottom: 9px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.sidebar-item.active {
  background-color: #fddcdc;
  color: #ab0909;
}

/* ================================
   CONTENT
================================ */
.content {
  flex: 1;
  padding: 35px;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

/* ================================
   CARD STATISTIK (jns-grid)
================================ */
.jns-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 35px;
}

.jns-card {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.jns-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #eee;
}

.jns-info {
  flex: 1;
  margin-left: 15px;
}

.jns-label {
  color: #5a5a5a;
  font-size: 15px;
  margin-bottom: 4px;
}

.jns-value {
  font-size: 26px;
  font-weight: 600;
}

.event-overview {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-title h3 {
  font-size: 18px;
  margin-bottom: 6px;
  color: #484848;
}

.chart-container {
  height: 300px;
  padding: 20px 0 50px;
  position: relative;
  border-bottom: 2px solid #e5e7eb;
  border-left: 2px solid #e5e7eb;
}

.chart-grid {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-line {
  height: 1px;
  background-color: #f3f4f6;
}

.chart-minggu {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #666;
}
