* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    color: #000;
}

header {
    background: #ffffff;
    color: #000000;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

/* NAMA BRAND */
.gambar-logo {
    width: 28px;
    height: 28px;
}

.EvenTura {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-right: 900px;
}

/* NAVBAR */
nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 0.8rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
    padding: 2px;
    text-align: center;
}

.user-icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container {
    display: flex;
    min-height: calc(100vh - 72xpx);
}

.sidebar {
    width: 250px;
    padding: 20px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 165px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: #353535;
    margin-bottom: 9px;
    font-weight: 600;
}

.sidebar-item.active {
    background-color: #fddcdc;
    color: #ab0909;
}

.content {
    flex: 1;
    padding: 2rem 3rem;
}

.btn-pnh {
    color: #7c7c7c;
    cursor: pointer;
}

h1 {
    color: #000;
    margin-bottom: 30px;
}

.form-grup {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    color: #414141;
    font-size: 14px;
    font-weight: 500;
}

.form-input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 14px;
    background-color: #f8f8f8;
    font-family: 'Inter', sans-serif;
}

textarea.form-input {
    min-height: 100px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

select {
    width: 100%;
    padding: 12px 16px;
    border: 2px solid #e5e7eb;
    border-radius: 15px;
    font-size: 14px;
    color: #1f2937;
    transition: all 0.3s;
    font-family: inherit;
}

.upload-area {
    border: 2px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.upload-icon {
    width: 60px;
    height: 50px;
    margin: auto;
}

.upload-text {
    color: #666;
    margin-bottom: 10px;
}

.upload-text a {
    color: #4361ee;
    text-decoration: none;
}

.upload-info {
    color: #999;
    font-size: 14px;
}

.tombol {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 25px;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-cancel {
    background-color: #d6d6d6;
}

.btn-simpan {
    background-color: #4361ee;
    color: white;
}