* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.all-frame {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  padding-top: 44px;
  padding-left: 88px;
  padding-right: 88px;
  padding-bottom: 118px;
  display: flex;
}

/* CONTAINER PROFIL */
.card-profil {
  width: 272px;
  height: 372px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOTO PROFIL   */
.foto-profil {
  padding-top: 24px;
}

/* TEKS PROFIL */
.teks-profil {
  line-height: 1.5;
  padding-bottom: 24px;
}
.deskripsi-profil {
  font-size: 16px;
  color: #000000;
}

.jenis-akun {
  font-size: 14px;
  color: #625C48;
}

/* BUTTON PROFIL */
.button-profil {
  width: 224px;
  height: 40px;
  background-color: #B31919;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
  /* teks di dalam tombol */
  color: #ffffff;
  font-weight: bold;
}

/* CONTAINER LOGOUT */
.container-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 40px;
  margin-top: 6px;
}
.logo-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 8px;
}
.teks-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1F2937;
  text-decoration: none;
}
a {
  text-decoration: none;
}


/* HEADER */
header {
  background: #ffffff;
  color: #000000;
  padding: 20px 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.EvenTura {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex: 1;
  margin: 0;
  padding: 0;
  top: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #000000;
  font-family: Montserrat;
  font-size: medium;
  font-weight: 15;
  text-decoration: none;
}

/* KONTEN UTAMA */

.container {
  width: 971px;
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  gap: 30px;
}

/* NAVIGATION */
.navigation {
  display: flex;
  border-bottom: 1px solid #E7E5E4;
}

.nav-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #78716C;
  padding: 16px 4px 18px 4px;
  margin-right: 32px;
  cursor: pointer;
}

.nav-item.active {
  color: #B31919;
  border-bottom: 2px solid #B31919;
}

/* SECTION TITLE */
.section-title {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 25px;
}

/* CARD */
.card {
  width: 971px;
  padding: 16px;
  background: #F8F6F6;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  margin-bottom: 38px;
}

.card-img {
  width: 256px;
  height: 128px;
}

.card-content {
  width: 488px;
  height: 128px;
  display: flex;
  flex-direction: column;
  line-height: 2px;
}

.category {
  color: #B31919;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.card-desc {
  color: #57534E;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
}

.btn-detail {
  background: #F5E7B2;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;    
}

/* ICON */
.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 245px;
  top: 19px;
  border-radius: 2px;
}


/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    width: 100%;
    height: 257px;
    background-color: #f5e7b2;
    padding: 22px 87px 22px 88px;
  }

  #satu {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  #dua {
    color: #625c48;
    font-size: 10px;
  }

  .footer-atas {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aa554b;
    margin: 0 -89px 22px -87px;
    padding: 22px 88px;
  }

  .logo_eventura {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
  }

  .kanan-atas {
    display: flex;
    gap: 60px;
    color: #312e24;
    margin-bottom: 12px;
  }

  .kanan-atas ul {
    list-style: none;
  }

  .navigasi {
    width: 81px;
  }

  .navigasi li {
    margin-bottom: 12px;
  }

  .kanan-satu {
    color: #aa554b;
    font-weight: bold;
  }

  .kanan-dua {
    color: #973131;
    font-weight: bold;
  }

  .contact li {
    margin-bottom: 12px;
  }

  .footer-bawah {
    display: flex;
    justify-content: space-between;
  }

  .kiri-bawah {
    display: flex;
    gap: 24px;
  }

  .kanan-bawah {
    color: #625c47;
    font-family: sans-serif;
    font-size: medium;
    font-size: 14px;
  }

