* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Inter", sans-serif;
  color: #000;
}

.hero {
  background-image: url("TubabaArt");
  height: 28vh;
  margin-left: 50px;
  margin-right: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("hero\ section.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 10px;
  border-radius: 12px;
}

.search-filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.search-box {
  max-width: 100%;
  margin-left: 20px;
  flex: 1;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.search-input {
  width: 100%;
  padding: 14px 10px 14px 50px;
  border: 1px solid #e0e0e0;
  border-radius: 40px;
  font-size: 14px;
  background: white;
  transition: all 0.3s ease;
}

.ktg button {
  display: flex;
  gap: 10px;
}

.ktg-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  background: white;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  margin-top: 50px;
}

.ktg-btn.active {
  background: #d32f2f;
  color: white;
  border-color: #d32f2f;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 40px;
  width: 100%;
  margin-top: 50px;
}

.event-card {
  position: relative;
  border-radius: 23px;
  overflow: hidden;
  height: 360px;
  width: 90%;
  max-width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.1);
}

.event-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.gambar {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-top: 10px;
}

.card-p {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 2px;
  margin-left: 20px;
  color: #8b8b8b;
}

.card-buttons {
  display: flex;
  gap: 16px;
}

.btn {
  flex: 1;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.btn-ktg {
  background-color: #fec1c186;
  color: #b62323;
}

.btn-detail {
  background-color: white;
  color: #d32f2f;
}
