* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* DOUBLE */
.teks-h2 {
  font-family: sans-serif;
  font-size: 22px;
  margin-bottom: 28px;
}

/* HEADER */
header {
  background: #ffffff;
  color: #000000;
  padding: 20px 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.EvenTura {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex: 1;
  margin: 0;
  padding: 0;
  top: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #000000;
  font-family: Montserrat;
  font-size: medium;
  font-weight: 15;
  text-decoration: none;
}

/* Hero Section */
.gambar-hero {
  margin-top: 33px;
  margin-left: 88px;
  margin-right: 88px;
  width: calc(100% - 176px);
  height: auto;
}

/* Definisi Section */
.teks-definisi {
  margin-left: 88px;
  margin-right: 88px;
  margin-top: 22px;
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

/* Filosofi Section */
.filosofi-kami {
  margin: 22px 88px;
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

/* Proses Section */
.proses-kami {
  margin: 22px 88px;
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

.all-list {
  display: flex;
  gap: 20px;
}

ul {
  list-style: none;
}

.list-teks ul li{
  padding-bottom: 52px;
}

.one {
  font-weight: 600;
  font-size: 16px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    width: 100%;
    height: 257px;
    background-color: #f5e7b2;
    padding: 22px 87px 22px 88px;
  }

  #satu {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  #dua {
    color: #625c48;
    font-size: 10px;
  }

  .footer-atas {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aa554b;
    margin: 0 -89px 22px -87px;
    padding: 22px 88px;
  }

  .logo_eventura {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
  }

  .kanan-atas {
    display: flex;
    gap: 60px;
    color: #312e24;
    margin-bottom: 12px;
  }

  .kanan-atas ul {
    list-style: none;
  }

  .navigasi {
    width: 81px;
  }

  .navigasi li {
    margin-bottom: 12px;
  }

  .kanan-satu {
    color: #aa554b;
    font-weight: bold;
  }

  .kanan-dua {
    color: #973131;
    font-weight: bold;
  }

  .contact li {
    margin-bottom: 12px;
  }

  .footer-bawah {
    display: flex;
    justify-content: space-between;
  }

  .kiri-bawah {
    display: flex;
    gap: 24px;
  }

  .kanan-bawah {
    color: #625c47;
    font-family: sans-serif;
    font-size: medium;
    font-size: 14px;
  }

